In [2]:
file = open("C:\\Users\\BAPS\\Desktop\\Book1.txt","r")
data = file.read()
data
type(data)

str

In [3]:
book = data.split('\n')
book

['1::Vimal::M::Nikol::10::1000::Y',
 '2::Nayan::M::Nikol::12::2000::Y',
 '3::Sunil::M::Uttamnagra::12::2000::N',
 '4::Navneet::M::Uttamnagar::11::1500::N',
 '5::Vaishali::F::Bapunagar::9::500::Y',
 '6::Keval::M::New Nikol::8::500::Y',
 '7::Shweta::F::Khodiyarnagar::10::1000::N',
 '8::Radhika::F::Parvala::9::500::N',
 '9::Yashvi::F::Viratnagar::8::500::N',
 '10::Helly::F::Viratnagar::11::1500::Y',
 '11::Kirti::F::Nikol::11::1500::Y',
 '12::Dax::M::Nikol::12::2000::Y',
 '']

In [4]:
type(book)

list

In [5]:
book
book.pop()

''

In [12]:
book

['1::Vimal::M::Nikol::10::1000::Y',
 '2::Nayan::M::Nikol::12::2000::Y',
 '3::Sunil::M::Uttamnagra::12::2000::N',
 '4::Navneet::M::Uttamnagar::11::1500::N',
 '5::Vaishali::F::Bapunagar::9::500::Y',
 '6::Keval::M::New Nikol::8::500::Y',
 '7::Shweta::F::Khodiyarnagar::10::1000::N',
 '8::Radhika::F::Parvala::9::500::N',
 '9::Yashvi::F::Viratnagar::8::500::N',
 '10::Helly::F::Viratnagar::11::1500::Y',
 '11::Kirti::F::Nikol::11::1500::Y',
 '12::Dax::M::Nikol::12::2000::Y']

In [6]:
std = input("Enter Your Standard :")
for i in book:
#     print(i)
    s = i.split('::')
#     print(s[4])    
    if std == s[4] :
        print(i)

Enter Your Standard :12
2::Nayan::M::Nikol::12::2000::Y
3::Sunil::M::Uttamnagra::12::2000::N
12::Dax::M::Nikol::12::2000::Y

In [7]:
std = input("Enter Your Standard :")
reg = input("Enter Your Regeister number : ")
for i in book:
#     print(i)
    s = i.split('::')
#     print(s[4])    
    if std == s[4] and reg == s[0] :
        print(i)
    else :
        print(' ')

Enter Your Standard :11
Enter Your Regeister number : helly

In [8]:
paid = input("Enter Y/N :").capitalize()
fname = input("enter Name: ").capitalize()
for i in book:
#     print(i)
    s = i.split('::')
#     print(s[4])    
    if paid == s[6] :
        print(s[0], s[1], s[5])
    if fname == s[1]:
        prnit(i)

Enter Y/N :n
enter Name:
3 Sunil 2000
4 Navneet 1500
7 Shweta 1000
8 Radhika 500
9 Yashvi 500

In [13]:
fname = input("enter Name: ").capitalize()
for i in book:
#     print(i)
    s = i.split('::')
#     print(s[4])    
    if fname == s[1]:
        print(i)

enter Name: navneet
4::Navneet::M::Uttamnagar::11::1500::N

In [19]:
gender = input("Enter M / F  : ").capitalize()
for i in book:
#     print(i)
    s = i.split('::')
#     print(s[4])    
    if gender == s[2]:
        print(s[2], s[1])

Enter M / F  : f
F Vaishali
F Shweta
F Radhika
F Yashvi
F Helly
F Kirti