In [21]:
file = open("C:\\Users\\BAPS\\Desktop\\result.txt","r")
data = file.read()
data

'id\tname\tGender\tstd\tGuj.\tHindi\tEng.\tEco.\tSci.\tMaths\n1\tVimal\tM\t10\t80\t89\t88\t78\t85\t86\n2\tNayan\tM\t9\t89\t82\t85\t87\t80\t80\n3\tVaishali\tF\t8\t79\t89\t75\t85\t95\t85\n4\tNavneet\tM\t10\t85\t79\t75\t89\t73\t83\n5\tSunil\tM\t9\t75\t78\t71\t82\t91\t93\n6\tSonali\tF\t8\t95\t76\t82\t73\t81\t94\n7\tBhoomi\tF\t8\t85\t84\t92\t73\t81\t95\n8\tShweta\tF\t7\t89\t80\t99\t98\t97\t95\n9\tRadhika\tF\t7\t85\t74\t86\t85\t83\t87\n10\tHelly\tF\t7\t74\t75\t74\t76\t71\t72\n11\tKirti\tF\t6\t65\t75\t69\t73\t71\t85\n12\tDax\tM\t6\t65\t85\t64\t75\t75\t71\n13\tYashvi\tF\t6\t85\t62\t75\t86\t65\t73\n14\tRishi\tM\t5\t75\t82\t34\t42\t65\t66\n15\tMeshva\tF\t5\t75\t75\t85\t66\t67\t62\n\t'

In [22]:
print(data)

id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths
1	Vimal	M	10	80	89	88	78	85	86
2	Nayan	M	9	89	82	85	87	80	80
3	Vaishali	F	8	79	89	75	85	95	85
4	Navneet	M	10	85	79	75	89	73	83
5	Sunil	M	9	75	78	71	82	91	93
6	Sonali	F	8	95	76	82	73	81	94
7	Bhoomi	F	8	85	84	92	73	81	95
8	Shweta	F	7	89	80	99	98	97	95
9	Radhika	F	7	85	74	86	85	83	87
10	Helly	F	7	74	75	74	76	71	72
11	Kirti	F	6	65	75	69	73	71	85
12	Dax	M	6	65	85	64	75	75	71
13	Yashvi	F	6	85	62	75	86	65	73
14	Rishi	M	5	75	82	34	42	65	66
15	Meshva	F	5	75	75	85	66	67	62

In [23]:
dt = data.split("\n")
dt

['id\tname\tGender\tstd\tGuj.\tHindi\tEng.\tEco.\tSci.\tMaths',
 '1\tVimal\tM\t10\t80\t89\t88\t78\t85\t86',
 '2\tNayan\tM\t9\t89\t82\t85\t87\t80\t80',
 '3\tVaishali\tF\t8\t79\t89\t75\t85\t95\t85',
 '4\tNavneet\tM\t10\t85\t79\t75\t89\t73\t83',
 '5\tSunil\tM\t9\t75\t78\t71\t82\t91\t93',
 '6\tSonali\tF\t8\t95\t76\t82\t73\t81\t94',
 '7\tBhoomi\tF\t8\t85\t84\t92\t73\t81\t95',
 '8\tShweta\tF\t7\t89\t80\t99\t98\t97\t95',
 '9\tRadhika\tF\t7\t85\t74\t86\t85\t83\t87',
 '10\tHelly\tF\t7\t74\t75\t74\t76\t71\t72',
 '11\tKirti\tF\t6\t65\t75\t69\t73\t71\t85',
 '12\tDax\tM\t6\t65\t85\t64\t75\t75\t71',
 '13\tYashvi\tF\t6\t85\t62\t75\t86\t65\t73',
 '14\tRishi\tM\t5\t75\t82\t34\t42\t65\t66',
 '15\tMeshva\tF\t5\t75\t75\t85\t66\t67\t62',
 '\t']

In [24]:
dt.pop()
dt

['id\tname\tGender\tstd\tGuj.\tHindi\tEng.\tEco.\tSci.\tMaths',
 '1\tVimal\tM\t10\t80\t89\t88\t78\t85\t86',
 '2\tNayan\tM\t9\t89\t82\t85\t87\t80\t80',
 '3\tVaishali\tF\t8\t79\t89\t75\t85\t95\t85',
 '4\tNavneet\tM\t10\t85\t79\t75\t89\t73\t83',
 '5\tSunil\tM\t9\t75\t78\t71\t82\t91\t93',
 '6\tSonali\tF\t8\t95\t76\t82\t73\t81\t94',
 '7\tBhoomi\tF\t8\t85\t84\t92\t73\t81\t95',
 '8\tShweta\tF\t7\t89\t80\t99\t98\t97\t95',
 '9\tRadhika\tF\t7\t85\t74\t86\t85\t83\t87',
 '10\tHelly\tF\t7\t74\t75\t74\t76\t71\t72',
 '11\tKirti\tF\t6\t65\t75\t69\t73\t71\t85',
 '12\tDax\tM\t6\t65\t85\t64\t75\t75\t71',
 '13\tYashvi\tF\t6\t85\t62\t75\t86\t65\t73',
 '14\tRishi\tM\t5\t75\t82\t34\t42\t65\t66',
 '15\tMeshva\tF\t5\t75\t75\t85\t66\t67\t62']

In [25]:
dt[0]

'id\tname\tGender\tstd\tGuj.\tHindi\tEng.\tEco.\tSci.\tMaths'

In [26]:
result = []
for i in dt[1:]:
    sp = i.split("\t")
#     print(sp)
    total = str(sum(map(int, sp[4:])))
#     print(total)
    t = str(total)
#     print(t)
    sp.append(total)
#     print(sp)
    result.append(sp)
print(result)

[['1', 'Vimal', 'M', '10', '80', '89', '88', '78', '85', '86', '506'], ['2', 'Nayan', 'M', '9', '89', '82', '85', '87', '80', '80', '503'], ['3', 'Vaishali', 'F', '8', '79', '89', '75', '85', '95', '85', '508'], ['4', 'Navneet', 'M', '10', '85', '79', '75', '89', '73', '83', '484'], ['5', 'Sunil', 'M', '9', '75', '78', '71', '82', '91', '93', '490'], ['6', 'Sonali', 'F', '8', '95', '76', '82', '73', '81', '94', '501'], ['7', 'Bhoomi', 'F', '8', '85', '84', '92', '73', '81', '95', '510'], ['8', 'Shweta', 'F', '7', '89', '80', '99', '98', '97', '95', '558'], ['9', 'Radhika', 'F', '7', '85', '74', '86', '85', '83', '87', '500'], ['10', 'Helly', 'F', '7', '74', '75', '74', '76', '71', '72', '442'], ['11', 'Kirti', 'F', '6', '65', '75', '69', '73', '71', '85', '438'], ['12', 'Dax', 'M', '6', '65', '85', '64', '75', '75', '71', '435'], ['13', 'Yashvi', 'F', '6', '85', '62', '75', '86', '65', '73', '446'], ['14', 'Rishi', 'M', '5', '75', '82', '34', '42', '65', '66', '364'], ['15', 'Meshva', 'F', '5', '75', '75', '85', '66', '67', '62', '430']]

In [27]:
r = ''
for i in result:
    i = "\t".join(i)
    print(i)
    r +=i+"\n"

1	Vimal	M	10	80	89	88	78	85	86	506
2	Nayan	M	9	89	82	85	87	80	80	503
3	Vaishali	F	8	79	89	75	85	95	85	508
4	Navneet	M	10	85	79	75	89	73	83	484
5	Sunil	M	9	75	78	71	82	91	93	490
6	Sonali	F	8	95	76	82	73	81	94	501
7	Bhoomi	F	8	85	84	92	73	81	95	510
8	Shweta	F	7	89	80	99	98	97	95	558
9	Radhika	F	7	85	74	86	85	83	87	500
10	Helly	F	7	74	75	74	76	71	72	442
11	Kirti	F	6	65	75	69	73	71	85	438
12	Dax	M	6	65	85	64	75	75	71	435
13	Yashvi	F	6	85	62	75	86	65	73	446
14	Rishi	M	5	75	82	34	42	65	66	364
15	Meshva	F	5	75	75	85	66	67	62	430

In [28]:
print(r)

1	Vimal	M	10	80	89	88	78	85	86	506
2	Nayan	M	9	89	82	85	87	80	80	503
3	Vaishali	F	8	79	89	75	85	95	85	508
4	Navneet	M	10	85	79	75	89	73	83	484
5	Sunil	M	9	75	78	71	82	91	93	490
6	Sonali	F	8	95	76	82	73	81	94	501
7	Bhoomi	F	8	85	84	92	73	81	95	510
8	Shweta	F	7	89	80	99	98	97	95	558
9	Radhika	F	7	85	74	86	85	83	87	500
10	Helly	F	7	74	75	74	76	71	72	442
11	Kirti	F	6	65	75	69	73	71	85	438
12	Dax	M	6	65	85	64	75	75	71	435
13	Yashvi	F	6	85	62	75	86	65	73	446
14	Rishi	M	5	75	82	34	42	65	66	364
15	Meshva	F	5	75	75	85	66	67	62	430

In [29]:
print(dt[0]+r)

id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths1	Vimal	M	10	80	89	88	78	85	86	506
2	Nayan	M	9	89	82	85	87	80	80	503
3	Vaishali	F	8	79	89	75	85	95	85	508
4	Navneet	M	10	85	79	75	89	73	83	484
5	Sunil	M	9	75	78	71	82	91	93	490
6	Sonali	F	8	95	76	82	73	81	94	501
7	Bhoomi	F	8	85	84	92	73	81	95	510
8	Shweta	F	7	89	80	99	98	97	95	558
9	Radhika	F	7	85	74	86	85	83	87	500
10	Helly	F	7	74	75	74	76	71	72	442
11	Kirti	F	6	65	75	69	73	71	85	438
12	Dax	M	6	65	85	64	75	75	71	435
13	Yashvi	F	6	85	62	75	86	65	73	446
14	Rishi	M	5	75	82	34	42	65	66	364
15	Meshva	F	5	75	75	85	66	67	62	430

In [30]:
head = dt[0]+"\tTotal\n"
print(head)

id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths	Total

In [31]:
dta = head + r
print(dta)

id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths	Total
1	Vimal	M	10	80	89	88	78	85	86	506
2	Nayan	M	9	89	82	85	87	80	80	503
3	Vaishali	F	8	79	89	75	85	95	85	508
4	Navneet	M	10	85	79	75	89	73	83	484
5	Sunil	M	9	75	78	71	82	91	93	490
6	Sonali	F	8	95	76	82	73	81	94	501
7	Bhoomi	F	8	85	84	92	73	81	95	510
8	Shweta	F	7	89	80	99	98	97	95	558
9	Radhika	F	7	85	74	86	85	83	87	500
10	Helly	F	7	74	75	74	76	71	72	442
11	Kirti	F	6	65	75	69	73	71	85	438
12	Dax	M	6	65	85	64	75	75	71	435
13	Yashvi	F	6	85	62	75	86	65	73	446
14	Rishi	M	5	75	82	34	42	65	66	364
15	Meshva	F	5	75	75	85	66	67	62	430

In [32]:
p = dta.split("\n")
p

['id\tname\tGender\tstd\tGuj.\tHindi\tEng.\tEco.\tSci.\tMaths\tTotal',
 '1\tVimal\tM\t10\t80\t89\t88\t78\t85\t86\t506',
 '2\tNayan\tM\t9\t89\t82\t85\t87\t80\t80\t503',
 '3\tVaishali\tF\t8\t79\t89\t75\t85\t95\t85\t508',
 '4\tNavneet\tM\t10\t85\t79\t75\t89\t73\t83\t484',
 '5\tSunil\tM\t9\t75\t78\t71\t82\t91\t93\t490',
 '6\tSonali\tF\t8\t95\t76\t82\t73\t81\t94\t501',
 '7\tBhoomi\tF\t8\t85\t84\t92\t73\t81\t95\t510',
 '8\tShweta\tF\t7\t89\t80\t99\t98\t97\t95\t558',
 '9\tRadhika\tF\t7\t85\t74\t86\t85\t83\t87\t500',
 '10\tHelly\tF\t7\t74\t75\t74\t76\t71\t72\t442',
 '11\tKirti\tF\t6\t65\t75\t69\t73\t71\t85\t438',
 '12\tDax\tM\t6\t65\t85\t64\t75\t75\t71\t435',
 '13\tYashvi\tF\t6\t85\t62\t75\t86\t65\t73\t446',
 '14\tRishi\tM\t5\t75\t82\t34\t42\t65\t66\t364',
 '15\tMeshva\tF\t5\t75\t75\t85\t66\t67\t62\t430',
 '']

In [33]:
p.pop()

''

In [34]:
percentage = []
for i in p[1:]:
#     print(i)
    sp = i.split("\t")
#     print(sp)
    per = str(round(sum(map(int,sp[10:]))/6))
#     print(per)
    sp.append(per)
#     print(sp)
    percentage.append(sp)
print(percentage)

[['1', 'Vimal', 'M', '10', '80', '89', '88', '78', '85', '86', '506', '84'], ['2', 'Nayan', 'M', '9', '89', '82', '85', '87', '80', '80', '503', '84'], ['3', 'Vaishali', 'F', '8', '79', '89', '75', '85', '95', '85', '508', '85'], ['4', 'Navneet', 'M', '10', '85', '79', '75', '89', '73', '83', '484', '81'], ['5', 'Sunil', 'M', '9', '75', '78', '71', '82', '91', '93', '490', '82'], ['6', 'Sonali', 'F', '8', '95', '76', '82', '73', '81', '94', '501', '84'], ['7', 'Bhoomi', 'F', '8', '85', '84', '92', '73', '81', '95', '510', '85'], ['8', 'Shweta', 'F', '7', '89', '80', '99', '98', '97', '95', '558', '93'], ['9', 'Radhika', 'F', '7', '85', '74', '86', '85', '83', '87', '500', '83'], ['10', 'Helly', 'F', '7', '74', '75', '74', '76', '71', '72', '442', '74'], ['11', 'Kirti', 'F', '6', '65', '75', '69', '73', '71', '85', '438', '73'], ['12', 'Dax', 'M', '6', '65', '85', '64', '75', '75', '71', '435', '72'], ['13', 'Yashvi', 'F', '6', '85', '62', '75', '86', '65', '73', '446', '74'], ['14', 'Rishi', 'M', '5', '75', '82', '34', '42', '65', '66', '364', '61'], ['15', 'Meshva', 'F', '5', '75', '75', '85', '66', '67', '62', '430', '72']]

In [35]:
a =  ''
for i in percentage:
    i = "\t".join(i)
    print(i)
    a += i+"\n"
print(a)

1	Vimal	M	10	80	89	88	78	85	86	506	84
2	Nayan	M	9	89	82	85	87	80	80	503	84
3	Vaishali	F	8	79	89	75	85	95	85	508	85
4	Navneet	M	10	85	79	75	89	73	83	484	81
5	Sunil	M	9	75	78	71	82	91	93	490	82
6	Sonali	F	8	95	76	82	73	81	94	501	84
7	Bhoomi	F	8	85	84	92	73	81	95	510	85
8	Shweta	F	7	89	80	99	98	97	95	558	93
9	Radhika	F	7	85	74	86	85	83	87	500	83
10	Helly	F	7	74	75	74	76	71	72	442	74
11	Kirti	F	6	65	75	69	73	71	85	438	73
12	Dax	M	6	65	85	64	75	75	71	435	72
13	Yashvi	F	6	85	62	75	86	65	73	446	74
14	Rishi	M	5	75	82	34	42	65	66	364	61
15	Meshva	F	5	75	75	85	66	67	62	430	72
1	Vimal	M	10	80	89	88	78	85	86	506	84
2	Nayan	M	9	89	82	85	87	80	80	503	84
3	Vaishali	F	8	79	89	75	85	95	85	508	85
4	Navneet	M	10	85	79	75	89	73	83	484	81
5	Sunil	M	9	75	78	71	82	91	93	490	82
6	Sonali	F	8	95	76	82	73	81	94	501	84
7	Bhoomi	F	8	85	84	92	73	81	95	510	85
8	Shweta	F	7	89	80	99	98	97	95	558	93
9	Radhika	F	7	85	74	86	85	83	87	500	83
10	Helly	F	7	74	75	74	76	71	72	442	74
11	Kirti	F	6	65	75	69	73	71	85	438	73
12	Dax	M	6	65	85	64	75	75	71	435	72
13	Yashvi	F	6	85	62	75	86	65	73	446	74
14	Rishi	M	5	75	82	34	42	65	66	364	61
15	Meshva	F	5	75	75	85	66	67	62	430	72

In [36]:
print(p[0]+a)

id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths	Total1	Vimal	M	10	80	89	88	78	85	86	506	84
2	Nayan	M	9	89	82	85	87	80	80	503	84
3	Vaishali	F	8	79	89	75	85	95	85	508	85
4	Navneet	M	10	85	79	75	89	73	83	484	81
5	Sunil	M	9	75	78	71	82	91	93	490	82
6	Sonali	F	8	95	76	82	73	81	94	501	84
7	Bhoomi	F	8	85	84	92	73	81	95	510	85
8	Shweta	F	7	89	80	99	98	97	95	558	93
9	Radhika	F	7	85	74	86	85	83	87	500	83
10	Helly	F	7	74	75	74	76	71	72	442	74
11	Kirti	F	6	65	75	69	73	71	85	438	73
12	Dax	M	6	65	85	64	75	75	71	435	72
13	Yashvi	F	6	85	62	75	86	65	73	446	74
14	Rishi	M	5	75	82	34	42	65	66	364	61
15	Meshva	F	5	75	75	85	66	67	62	430	72

In [37]:
head = p[0]+"\tPercentage\n"
print(head)

id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths	Total	Percentage

In [38]:
dtaa = head + a
print(dtaa)

id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths	Total	Percentage
1	Vimal	M	10	80	89	88	78	85	86	506	84
2	Nayan	M	9	89	82	85	87	80	80	503	84
3	Vaishali	F	8	79	89	75	85	95	85	508	85
4	Navneet	M	10	85	79	75	89	73	83	484	81
5	Sunil	M	9	75	78	71	82	91	93	490	82
6	Sonali	F	8	95	76	82	73	81	94	501	84
7	Bhoomi	F	8	85	84	92	73	81	95	510	85
8	Shweta	F	7	89	80	99	98	97	95	558	93
9	Radhika	F	7	85	74	86	85	83	87	500	83
10	Helly	F	7	74	75	74	76	71	72	442	74
11	Kirti	F	6	65	75	69	73	71	85	438	73
12	Dax	M	6	65	85	64	75	75	71	435	72
13	Yashvi	F	6	85	62	75	86	65	73	446	74
14	Rishi	M	5	75	82	34	42	65	66	364	61
15	Meshva	F	5	75	75	85	66	67	62	430	72

In [39]:
v = dtaa.split("\n")
v.pop()
v

['id\tname\tGender\tstd\tGuj.\tHindi\tEng.\tEco.\tSci.\tMaths\tTotal\tPercentage',
 '1\tVimal\tM\t10\t80\t89\t88\t78\t85\t86\t506\t84',
 '2\tNayan\tM\t9\t89\t82\t85\t87\t80\t80\t503\t84',
 '3\tVaishali\tF\t8\t79\t89\t75\t85\t95\t85\t508\t85',
 '4\tNavneet\tM\t10\t85\t79\t75\t89\t73\t83\t484\t81',
 '5\tSunil\tM\t9\t75\t78\t71\t82\t91\t93\t490\t82',
 '6\tSonali\tF\t8\t95\t76\t82\t73\t81\t94\t501\t84',
 '7\tBhoomi\tF\t8\t85\t84\t92\t73\t81\t95\t510\t85',
 '8\tShweta\tF\t7\t89\t80\t99\t98\t97\t95\t558\t93',
 '9\tRadhika\tF\t7\t85\t74\t86\t85\t83\t87\t500\t83',
 '10\tHelly\tF\t7\t74\t75\t74\t76\t71\t72\t442\t74',
 '11\tKirti\tF\t6\t65\t75\t69\t73\t71\t85\t438\t73',
 '12\tDax\tM\t6\t65\t85\t64\t75\t75\t71\t435\t72',
 '13\tYashvi\tF\t6\t85\t62\t75\t86\t65\t73\t446\t74',
 '14\tRishi\tM\t5\t75\t82\t34\t42\t65\t66\t364\t61',
 '15\tMeshva\tF\t5\t75\t75\t85\t66\t67\t62\t430\t72']

In [50]:
roll = input("Enter Your No. :")
grade = ' '
# name = input("Enter Your Name :").capitalize()

for i in v:
#     print(i)
    sp = i.split("\t")
#     print(sp)

    if roll == sp[0]:
        g = int(sp[11])
    
        if g >= 90:
            grade = "A"
            print(v[0])
            print(i)
            print(grade + " grade")
        elif g >= 80:
            grade = "B"
            print(v[0])
            print(i)
            print(grade + " grade")
        elif g >= 70:
            grade = "c"
            print(v[0])
            print(i)
            print(grade + " grade")
   
            file1 = open(f"C:\\Users\\BAPS\\Desktop\\result\\{i[1]}_result.html","w")
            file1.write(f'''
            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


    <title>Document</title>
</head>
<body>
  <h1> ABC School</h1>
  <h1> Hello {sp[1]}</h1>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Gujarati</th>
          <th scope="col">Hindi</th>
          <th scope="col">English</th>
          <th scope="col">Economics</th>
          <th scope="col">Science</th>
          <th scope="col">Maths</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{sp[4]}</td>
          <td>{sp[5]}</td>
          <td>{sp[6]}</td>
          <td>{sp[7]}</td>
          <td>{sp[8]}</td>
          <td>{sp[9]}</td>
        </tr>
        <tr>
          <td>Total Marks : {sp[10]}</td>
        </tr>
        <tr>
          <td>Percentage : {sp[11]} % </td>
        </tr>
        <tr>
          <td>Grade : {grade}  </td>
        </tr>

      </tbody>
    </table>

</body>
</html>
            ''')

Enter Your No. :5
id	name	Gender	std	Guj.	Hindi	Eng.	Eco.	Sci.	Maths	Total	Percentage
5	Sunil	M	9	75	78	71	82	91	93	490	82
B grade