In [83]:
file = open("C:/Users/BAPS/Desktop/student_data.txt","r")
data  = file.read()
data

AttributeError: 'str' object has no attribute 'close'

In [9]:
d = data.split("\n")
d

['name\troll\tmath\tsci\teng',
 'Grras\t1\t86\t87\t85',
 'Ahsan\t2\t91\t89\t87',
 'Nirav\t3\t89\t78\t96',
 'Mihir\t4\t89\t85\t79',
 'Abhay\t5\t89\t74\t85',
 'Vimal\t6\t87\t85\t94',
 'Dixit\t7\t75\t85\t89',
 'Dhruv\t8\t85\t74\t74',
 'Prince\t9\t68\t78\t91',
 'Anjali\t10\t78\t58\t67',
 '',
 '']

In [10]:
d.pop()
d

['name\troll\tmath\tsci\teng',
 'Grras\t1\t86\t87\t85',
 'Ahsan\t2\t91\t89\t87',
 'Nirav\t3\t89\t78\t96',
 'Mihir\t4\t89\t85\t79',
 'Abhay\t5\t89\t74\t85',
 'Vimal\t6\t87\t85\t94',
 'Dixit\t7\t75\t85\t89',
 'Dhruv\t8\t85\t74\t74',
 'Prince\t9\t68\t78\t91',
 'Anjali\t10\t78\t58\t67',
 '']

In [11]:
d.pop()
d

['name\troll\tmath\tsci\teng',
 'Grras\t1\t86\t87\t85',
 'Ahsan\t2\t91\t89\t87',
 'Nirav\t3\t89\t78\t96',
 'Mihir\t4\t89\t85\t79',
 'Abhay\t5\t89\t74\t85',
 'Vimal\t6\t87\t85\t94',
 'Dixit\t7\t75\t85\t89',
 'Dhruv\t8\t85\t74\t74',
 'Prince\t9\t68\t78\t91',
 'Anjali\t10\t78\t58\t67']

In [12]:
d[0]

'name\troll\tmath\tsci\teng'

In [80]:
result = []
for i in d[1:]:
#     print(i)
    sp = i.split("\t")
#     print(sp)
    total = str(sum(map(int,sp[2:])))
#     print(total)
    sp.append(total)
    print(sp)
    result.append(sp)

['Grras', '1', '86', '87', '85', '258']
['Ahsan', '2', '91', '89', '87', '267']
['Nirav', '3', '89', '78', '96', '263']
['Mihir', '4', '89', '85', '79', '253']
['Abhay', '5', '89', '74', '85', '248']
['Vimal', '6', '87', '85', '94', '266']
['Dixit', '7', '75', '85', '89', '249']
['Dhruv', '8', '85', '74', '74', '233']
['Prince', '9', '68', '78', '91', '237']
['Anjali', '10', '78', '58', '67', '203']

In [28]:
print(result)

[['Grras', '1', '86', '87', '85', '258'], ['Ahsan', '2', '91', '89', '87', '267'], ['Nirav', '3', '89', '78', '96', '263'], ['Mihir', '4', '89', '85', '79', '253'], ['Abhay', '5', '89', '74', '85', '248'], ['Vimal', '6', '87', '85', '94', '266'], ['Dixit', '7', '75', '85', '89', '249'], ['Dhruv', '8', '85', '74', '74', '233'], ['Prince', '9', '68', '78', '91', '237'], ['Anjali', '10', '78', '58', '67', '203']]

In [36]:
r=''
for i in result:
#     print(i)
    i = "\t".join(i)
    print(i)
    r +=i+"\n"

Grras	1	86	87	85	258
Ahsan	2	91	89	87	267
Nirav	3	89	78	96	263
Mihir	4	89	85	79	253
Abhay	5	89	74	85	248
Vimal	6	87	85	94	266
Dixit	7	75	85	89	249
Dhruv	8	85	74	74	233
Prince	9	68	78	91	237
Anjali	10	78	58	67	203

In [37]:
print(r)

Grras	1	86	87	85	258
Ahsan	2	91	89	87	267
Nirav	3	89	78	96	263
Mihir	4	89	85	79	253
Abhay	5	89	74	85	248
Vimal	6	87	85	94	266
Dixit	7	75	85	89	249
Dhruv	8	85	74	74	233
Prince	9	68	78	91	237
Anjali	10	78	58	67	203

In [38]:
print(d[0]+r)

name	roll	math	sci	engGrras	1	86	87	85	258
Ahsan	2	91	89	87	267
Nirav	3	89	78	96	263
Mihir	4	89	85	79	253
Abhay	5	89	74	85	248
Vimal	6	87	85	94	266
Dixit	7	75	85	89	249
Dhruv	8	85	74	74	233
Prince	9	68	78	91	237
Anjali	10	78	58	67	203

In [39]:
head = d[0]+"\tTotal\n"

'name\troll\tmath\tsci\teng\tTotal\n'

In [52]:
dataa = head+r
print(dataa)

name	roll	math	sci	eng	Total
Grras	1	86	87	85	258
Ahsan	2	91	89	87	267
Nirav	3	89	78	96	263
Mihir	4	89	85	79	253
Abhay	5	89	74	85	248
Vimal	6	87	85	94	266
Dixit	7	75	85	89	249
Dhruv	8	85	74	74	233
Prince	9	68	78	91	237
Anjali	10	78	58	67	203

In [90]:
dataa
f = dataa.split("\n")
f
f.pop()

''

In [91]:
f[0]

'name\troll\tmath\tsci\teng\tTotal'

In [109]:
percentage = []
for i in f[1:]:
#     print(i)
    ip = i.split("\t")
    per = str(round(sum(map(int,ip[2:5]))*100/300))
#     print(per)
    ip.append(per+"%")
    percentage.append(ip)

In [110]:
 print(percentage)

[['Grras', '1', '86', '87', '85', '258', '86%'], ['Ahsan', '2', '91', '89', '87', '267', '89%'], ['Nirav', '3', '89', '78', '96', '263', '88%'], ['Mihir', '4', '89', '85', '79', '253', '84%'], ['Abhay', '5', '89', '74', '85', '248', '83%'], ['Vimal', '6', '87', '85', '94', '266', '89%'], ['Dixit', '7', '75', '85', '89', '249', '83%'], ['Dhruv', '8', '85', '74', '74', '233', '78%'], ['Prince', '9', '68', '78', '91', '237', '79%'], ['Anjali', '10', '78', '58', '67', '203', '68%']]

In [113]:
p = ''
for i in percentage:
#     print(i)
    i = "\t".join(i)
    print(i)
    p += i+"\n"

Grras	1	86	87	85	258	86%
Ahsan	2	91	89	87	267	89%
Nirav	3	89	78	96	263	88%
Mihir	4	89	85	79	253	84%
Abhay	5	89	74	85	248	83%
Vimal	6	87	85	94	266	89%
Dixit	7	75	85	89	249	83%
Dhruv	8	85	74	74	233	78%
Prince	9	68	78	91	237	79%
Anjali	10	78	58	67	203	68%

In [114]:
print(p)

Grras	1	86	87	85	258	86%
Ahsan	2	91	89	87	267	89%
Nirav	3	89	78	96	263	88%
Mihir	4	89	85	79	253	84%
Abhay	5	89	74	85	248	83%
Vimal	6	87	85	94	266	89%
Dixit	7	75	85	89	249	83%
Dhruv	8	85	74	74	233	78%
Prince	9	68	78	91	237	79%
Anjali	10	78	58	67	203	68%

In [115]:
print(f[0]+p)

name	roll	math	sci	eng	TotalGrras	1	86	87	85	258	86%
Ahsan	2	91	89	87	267	89%
Nirav	3	89	78	96	263	88%
Mihir	4	89	85	79	253	84%
Abhay	5	89	74	85	248	83%
Vimal	6	87	85	94	266	89%
Dixit	7	75	85	89	249	83%
Dhruv	8	85	74	74	233	78%
Prince	9	68	78	91	237	79%
Anjali	10	78	58	67	203	68%

In [116]:
head = f[0]+"\tPercentages\n"
head

'name\troll\tmath\tsci\teng\tTotal\tPercentages\n'

In [117]:
dataa = head+p
print(dataa)

name	roll	math	sci	eng	Total	Percentages
Grras	1	86	87	85	258	86%
Ahsan	2	91	89	87	267	89%
Nirav	3	89	78	96	263	88%
Mihir	4	89	85	79	253	84%
Abhay	5	89	74	85	248	83%
Vimal	6	87	85	94	266	89%
Dixit	7	75	85	89	249	83%
Dhruv	8	85	74	74	233	78%
Prince	9	68	78	91	237	79%
Anjali	10	78	58	67	203	68%

In [118]:
a = dataa.split("\n")
print(a)

['name\troll\tmath\tsci\teng\tTotal\tPercentages', 'Grras\t1\t86\t87\t85\t258\t86%', 'Ahsan\t2\t91\t89\t87\t267\t89%', 'Nirav\t3\t89\t78\t96\t263\t88%', 'Mihir\t4\t89\t85\t79\t253\t84%', 'Abhay\t5\t89\t74\t85\t248\t83%', 'Vimal\t6\t87\t85\t94\t266\t89%', 'Dixit\t7\t75\t85\t89\t249\t83%', 'Dhruv\t8\t85\t74\t74\t233\t78%', 'Prince\t9\t68\t78\t91\t237\t79%', 'Anjali\t10\t78\t58\t67\t203\t68%', '']

In [125]:
roll = input("Enter Roll No. :")
name = input("Enter Your Name :").capitalize()

for i in a:
#     print(i)
    sp = i.split("\t")
#     print(sp)
    if roll == sp[1] or name == sp[0]:
        print(a[0])
        print(i)

Enter Roll No. :
Enter Your Name :vimal
name	roll	math	sci	eng	Total	Percentages
Vimal	6	87	85	94	266	89%

IndexError: list index out of range